div{
    border: 5px solid brown;
    background-color: gray;
    width: 500px;
    height: 300px;
    border-radius: 50px;
}

h2{
    color: brown;

}

h1{
    color: blue;
    text-underline-position: below;
    
}